@model IEnumerable<Library.Models.BookConnection>

@{
    ViewData["Title"] = "Barrowed";
}

<h1>Lent books</h1>

<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
                <br>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barrowed)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>

        </tr>
}
    </tbody>
</table>
